name: go

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - 'cmd/**'
      - 'pkg/**'
      - .github/workflows/go.yaml
  pull_request:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - 'cmd/**'
      - 'pkg/**'
      - .github/workflows/go.yaml

jobs:

  make:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
      - run: |
          make check
          if [[ "$(git status --porcelain | wc -l)" -ne 0 ]]; then
            echo "::error::check recipe produced changes."
            exit 1
          fi
