name: go

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - 'cmd/**'
      - 'pkg/**'
      - .github/workflows/go.yaml
  pull_request:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - 'cmd/**'
      - 'pkg/**'
      - .github/workflows/go.yaml

jobs:

  make:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
      - run: |
          make codegen
          if [[ "$(git status --porcelain | wc -l)" -ne 0 ]]; then
            echo "::error::Missing codegen run."
            exit 1
          fi
      - run: |
          make fmt
          if [[ "$(git status --porcelain | wc -l)" -ne 0 ]]; then
            echo "::error::Go files are not formatted correctly."
            exit 1
          fi
      - run: |
          make imports
          if [[ "$(git status --porcelain | wc -l)" -ne 0 ]]; then
            echo "::error::Go imports are not formatted correctly."
            exit 1
          fi
      - run: make lint
      - run: make test
      - uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
      - run: make test-integration
